@font-face {
    font-family: 'droid_serifitalic';
    src: url('../fonts/droidserif-italic.woff2') format('woff2'),
         url('../fonts/droidserif-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid_serifregular';
    src: url('../fonts/droidserif-regular.woff2') format('woff2'),
         url('../fonts/droidserif-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bira_personal_use_onlyregular';
    src: url('../fonts/8601-webfont.woff2') format('woff2'),
         url('../fonts/8601-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}